<mat-toolbar style="padding-top: 5%; padding-bottom: 5%;" color="primary" class="fixed-header">
  <span>Youtube Data Api - Video Listing</span>
  <span style="flex: 1 1 auto;"></span>
  <span>Made by albertofa | Github</span>
</mat-toolbar>



<div class="container" style="padding-top: 4%; padding-bottom: 4%;">


  <div class="row">
    <div class="col-10">
      <mat-form-field style="width: 100%;">
        <input [(ngModel)]="search" matInput placeholder="Digite o termo de busca">
      </mat-form-field>
    </div>

    <button (click)="pesquisarVideos()">Enviar</button>
  </div>

</div>

<div class="container" style="min-height: 100%;">
  <mat-grid-list *ngIf="youtubeResponse" cols="4">
    <mat-grid-tile *ngFor="let item of youtubeResponse.videos">

      <mat-card style="max-width: 400px;">
        <a href="https://www.youtube.com/watch?v={{item.id.videoId}}">
          <img mat-card-img style="max-width:100%; max-height:100%;" src  ="{{item.snippet.thumbnails.medium.url}}">
          <mat-card-content>
            <p style="padding-top: 5%; max-height:6rem; text-align:left; text-overflow: ellipsis; overflow: hidden;">{{item.snippet.title}}</p>
            <p>{{item.snippet.channelTitle}}</p>
          </mat-card-content>
        </a>
      </mat-card>

    </mat-grid-tile>
  </mat-grid-list>
</div>


<div class="footer"
  style=" background-color: #3f51b5; text-align: center; color: white; padding-top: 7%; padding-bottom: 7%;">
  <p>This website uses a <a style="color: white; text-decoration: underline;"
      href="https://developers.google.com/youtube/v3/docs/search/list">Google API</a> to search videos from the Youtube
    DB</p>
</div>
